@font-face {
  font-family: 'Sovngarde';
  src: url('/mgo/images/SovngardeLight.woff2')
       format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/mgo/images/Futura-Medium-01.woff2')
       format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura';
  src: url('/mgo/images/Futura-MediumItalic-02.woff2')
       format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

:root {
  --INTERNAL-MENU-L-width: 260px;
  --INTERNAL-MENU-SECTIONS-BG-color: #191919;
  --INTERNAL-MENU-HEADER-BG-color: #191919;
  --INTERNAL-CODE-INLINE-color: #eeeeee;
  --INTERNAL-TOPBAR-BG-color: #191919;
  --INTERNAL-MENU-HEADER-BORDER-color: #191919;
  --INTERNAL-MAIN-TITLES-H2-font-weight: normal;
  --LOGO-font: Futura, 'Roboto Flex';
  --LOGO-font-size: 0.8rem;
  --INTERNAL-MAIN-TITLES-H1-font: Futura, 'Roboto Flex';
  --INTERNAL-MAIN-TITLES-H2-font: Futura, 'Roboto Flex';
  --INTERNAL-MAIN-TITLES-H3-font: Futura, 'Roboto Flex';
  --VARIABLE-LINK-color: #BF7DAB;
  --VARIABLE-LINK-HOVER-color: #D5AAC8;
  --mgo-btn-inline: #c9843699;
  --mgo-gold-dark: #c98436;
  --mgo-gold: #D8A65F;
  --mgo-gold-trans: #F8D07B33;
  --mgo-red: #A23860;
  --mgo-blue: #44375e;
  --mgo-blue2: #664d87;
  --mgo-bg: #202020;
  --mgo-logo-bg1: #2A2A22;
  --mgo-logo-bg2: #282820;
  --mgo-alert-bg1: #4E1A26;
  --mgo-alert-bg2: #F1CD8466;
  --mgo-alert-bg3: #642F69;
  --mgo-gradient1: #642F69;
  --mgo-gradient2: #4E1A26;
  --mgo-gradient3: #F1CD84;
  --mgo-btw1: #7E2F3466;
  --mgo-btw2: #B14C78cc;
  // --mgo-btw1: rgba(43, 89, 195, 0.45);
  // --mgo-btw2: #77c8be66;
}

#R-topbar > .topbar-wrapper {
  --VARIABLE-LINK-HOVER-color: #D5AAC8;
}

body {
  font-size: 1.2rem;
  background: url(/mgo/images/background-tile.png);
  background-attachment: fixed;
}

#R-sidebar li a {
  font-family: var(--INTERNAL-MAIN-TITLES-H3-font);
}
#R-sidebar li > a {
  text-transform: uppercase;
}
#R-sidebar li li > a {
  text-transform: none;
}

#R-sidebar li.active > a {
  background: url(/mgo/images/background-tile.png);
  background-attachment: fixed;
}

#R-sidebar ul.enlarge > li > :is(a, span) {
  font-size: 1rem;
}

#R-homelinks {
  ul.collapsible-menu {
    &>li {
      &>a {
        display: flex;
      }
    }
  }
  svg {
    height: 20px;
    padding-right: 0.5em;
  }
}

#R-header-wrapper {
  padding-top: 1rem;

  img {
    max-width: calc(100% - 2rem);
  }
}

#R-logo.R-default {
  column-gap: 1em;
  .logo-title {
    font-size: 2em;
    flex-shrink: 1;
    min-width: 0;
    text-align: start;
    text-wrap: auto;
    word-break: break-word;
    .line1 {
      display: block;
    }
    .line2 {
      display: block;
      font-size: 0.8em;
    }
  }
}

a:hover, a:active, a:focus {
  color:  var(--VARIABLE-LINK-HOVER-color);
  transition: all 0.35s ease;
}

.breadcrumbs li {
  padding-bottom: 0;
}
.body-inner {
  overflow-y: auto;
}
.cover {
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  h1 {
    text-shadow: rgba(0,0,0,0.8) 1px 0 8px;
    line-height: 1em;
    overflow-wrap: normal;
    hyphens: manual;
  }
}

.chapter {
  h2 {
    display: block;
    border-bottom: 2px solid;

    & + .anchor {
      display: none;
    }
  }
}

.home {
  h1 {
    margin: 2rem 0;
  }
}

.footnotes {
  font-size: 85%;
}

h2 {
  line-height: 1.3em;
  .anchor {
    margin-top: 0;
  }
}

li {
  padding-bottom: 1rem;
}

.topbar-breadcrumbs {
  font-size: 1rem;
}

.chapter-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid #666;
  background: #00000044;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
    background: #66666633;
    border-color: var(--mgo-blue2);
  }
  .read-more {
    text-align: right;
  }
  .gif {
    min-width: 260px;
    min-height: 208px;
  }
}

.flex {
  display: flex;
}

.file {
  display: inline-block;
  background-color: var(--mgo-gold-trans);
  padding: 0 6px;
  border-radius: 10px;
  font-family: var(--INTERNAL-CODE-font);
}

.highlight {
  display: inline-block;
  font-weight: bold;
  background-color: #b9d5f3;
  color: black;
  padding: 0 6px;
}

input.readonly {
  pointer-events: none;
}

.separator, .mod {
  padding: 0.25rem 1rem;
  &.sub {
    margin-left: 2rem;
  }
  &.subsub {
    margin-left: 4rem;
  }
}
.separator {
  font-weight: bold;
  i.fa-folder {
    color: #ffd86b;
  }
  &.blue {
    background-color: #f1cd84;
    color: black;
  }
  &.blue1 {
    background-color: #e2bf7b;
    color: black;
  }
  &.blue2 {
    background-color: #d1af71;
    color: black;
  }
  &.blue3 {
    background-color: #c2a267;
    color: black;
  }
  &.blue4 {
    background-color: #b2935d;
    color: black;
  }
  &.blue5 {
    background-color: #a38554;
    color: black;
  }
  &.blue6 {
    background-color: #6b5232;
    color: white;
  }
  &.blue7 {
    background-color: #c0dbf5;
    color: black;
  }
  &.purple1 {
    background-color: #a903ff;
    color: white;
  }
  &.purple2 {
    background-color: #8501c8;
    color: white;
  }
  &.purple3 {
    background-color: #610091;
    color: white;
  }
}

#R-body .svg {
  &.nexus,
  &.github,
  &.steam {
    display: inline-block;
    font-weight: bold;
    padding: 0 6px;
    border-radius: 10px;
    svg {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      height: 16px;
    }
    a {
      color: var(--mgo-gold);
    }
  }
  &.nexus {
    background-color: #f7e4d433;
  }
  &.github {
    background-color: #66666633;
  }
  &.steam {
    background: #184150;
    background: radial-gradient(circle,rgba(24, 65, 80, 1) 0%, rgba(26, 51, 68, 1) 100%);
    text-shadow: none;
    a {
      color: #c5c3c1;
    }
  }
}

#R-footer a {
  text-decoration: underline;
}

.next {
  margin-top: 2rem;
  text-align: center;
  container-type: inline-size;
  a {
    display: inline-block;
    font-weight: bold;
    max-width: 600px;
    font-size: 4cqw;
    text-decoration: none;
    position: relative;
    color: #eee;
    line-height: 1;
    border-radius: 4rem;
    padding: 1.5rem;
    transition: all .2s;
    --bs1: -2px -2px 0 2px var(--mgo-gold);
    --bs2: 0 0 0 4px var(--mgo-red);
    --bs3: 0 0 2px 7px rgba(0, 0, 0, .05);
    text-shadow: 2px 2px 2px #000000;
    box-shadow: var(--bs1), var(--bs2), var(--bs3);
    background: linear-gradient(24deg,var(--mgo-gradient1) 0%,
              var(--mgo-gradient2) 100%,
              var(--mgo-gradient3) 38%);
  }
}

#R-body {
  .controller {
    display: inline-block;
    background-color: var(--mgo-blue);
    background: radial-gradient(circle,var(--mgo-blue2) 40%, var(--mgo-blue) 100%);
    text-shadow: 1px 1px 1px #000000;
    padding: 2px 6px;
    border-radius: 10px;
    font-family: var(--INTERNAL-CODE-font);
    img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.btn-inline {
  display: inline-block;
  background-color: var(--mgo-btn-inline);
  text-shadow: 1px 1px 1px #000000;
  padding: 0 6px;
  border-radius: 10px;
  font-family: var(--INTERNAL-CODE-font);
}

div.video {
  margin: 0 auto 2rem;
  &.border {
    border: 1px solid var(--mgo-gold);
    background-color: #404040;
  }
  video {
    width: 100%;
    height: auto;
  }
  .caption {
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, var(--mgo-gold) 60%, var(--mgo-gold-dark) 100%);
    color: black;
    padding: 1rem;
    box-shadow: 0px 5px 20px #000;
    font-size: 80%;
    text-align: center;
    width: 100%;
    .grow {
      flex: 1;
    }
    a {
      color: #005fcc;
      font-weight: bold;
    }
  }
}

div.img {
  margin: 0 auto 2rem;
  max-width: 650px;
  &.border {
    border: 1px solid var(--mgo-gold);
    background-color: #404040;
    .caption {
      text-align: left;
    }
  }

  &>img, &>a>img {
    width: 95%;
    max-width: 600px;
    &#img-01-settings-system {
      width: 489px;
    }
    &#img-02-system-about {
      width: 263px;
    }
  }
  .caption {
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, var(--mgo-gold) 60%, var(--mgo-gold-dark) 100%);
    color: black;
    padding: 1rem;
    box-shadow: 0px 5px 20px #000;
    font-size: 80%;
    text-align: center;
    width: 100%;
    .grow {
      flex: 1;
    }
    a {
      color: #005fcc;
      font-weight: bold;
    }
  }
}

.aside {
  clear: both;
  margin: 2rem auto;
  max-width: 50em;
  position: relative;
  padding-bottom: 1rem;
  text-shadow: rgba(0,0,0,0.8) 1px 0 1px;
  color: #fff;
  font-size: 1rem;
}
.aside h4 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  color: #fff;
}
.aside .emoji {
  float: left;
  font-size: 400%;
  margin: 0 1rem;
}
.aside .body {
  padding: 0 1rem;
}
.aside a {
  color: #ffce00;
}
#body .aside a.highlight:after {
  background-color: #ffce00;
}
.aside code {
  background: rgba(64,64,64,0.2);
  color: #fff;
  font-size: 100%;
  padding: 2px;
}
.aside.aside-alert {
  background: linear-gradient(24deg, var(--mgo-alert-bg1) 0%, var(--mgo-alert-bg2) 100%, var(--mgo-alert-bg3) 38%);
  h4 {
    background: rgba(54, 23, 14, 0.8);
  }
  .body {
    background-image: url("/mgo/images/bg-clavicus-vile.webp");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.aside.aside-btw {
  background-image: linear-gradient(24deg, var(--mgo-btw1) 0%, var(--mgo-btw2) 100%);
  
  h4 {
    background: rgba(50, 50, 50, 0.3);
  }
  .body {
    background-image: url("/mgo/images/akatosh-alpha.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  body {
    background: url(/mgo/images/background-tile@2x.png);
    background-size: 200px 200px;
  }
}