// Chapter-heading cards (chapter _index pages)

.chapter-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 16px;
  border: 1px solid #666;
  background: #00000044;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
    background: #66666633;
    border-color: var(--mgo-blue2);
  }
  .read-more {
    text-align: right;
  }
  .gif {
    min-width: 260px;
    min-height: 208px;
  }
}
